<!--Account not verified user is trying to-->
<!--Log in while their account is not verified yet-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Account Not Verified</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="container">
      <p>Your account is not verified. Please check your email and verify your account.</p>
      <a href="{{ url_for('index') }}" class="btn btn-primary">Login Again</a>
    </div>
  </body>
</html>
