<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Success</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #c1bfbf;
            margin: 0;
            padding: 40px;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
        p {
            margin-top: 67px;
            font-size: 18px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <p>Your password has been successfully reset. You can now <a href="{{ url_for('login') }}">log in</a> with your new password.</p>
</body>
</html>