<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile update success</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #c1bfbf;
            margin: 0;
            padding: 0;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
        p {
            margin-top: 67px;
            font-size: 18px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<p>Profile updated successfully <a href="/profile">Profile</a> </p>
</body>
</html>