        .flash-message {
            background-color: #008080; /* Teal color */
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .flash-message-box {
            display: none;
            position: fixed;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
        }
